.last-date {
    color: rgb(20, 163, 20);
}

.user-first-name,
.user-last-name,
.report-for {
    margin-top: 3px;
    margin-left: 30px;
    color: antiquewhite;
}

#proofile-image {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 30px;
    background: #02081c;
}

.time-type {
    color: rgb(131, 192, 192);
    z-index: 10;
    padding-bottom: 5px;
}

.hrs {
    margin-bottom: 15px;
}

.last-date {
    margin-bottom: 10px;
}