.box1{
    background-color: aqua;
}

.box2{
    background-color: black;
    color: antiquewhite;
}

.box3{
    background-color: rgb(86, 86, 156);
    color: rgb(19, 2, 2);
}

.box4{
    background-color: yellowgreen;
    color: blue;
}